* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
  color: white;
}

header {
  gap: 24px;
  padding-top: 15px;
  padding-bottom: 20px;
  line-height: 24px;
  .header-item {
    display: flex;
    gap: 16px;

    .search {
      position: relative;

      input {
        width: 350px;
        border-radius: 25px;
        border: none;
        padding: 10px 15px;
      }

      .search-icon {
        position: absolute;
        right: 0;
        top: 50%;
        justify-self: center;
        color: black;
        transform: translate(-15px, -50%);
      }
    }

    .nav-link {
      position: relative;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;

      .indicator {
        position: absolute;
        padding: 3px;
        background-color: red;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.container {
  position: relative;
  background-color: gray;
  section {
    padding: 0 100px;
  }

  .image-container {
    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }

  .introduce-movies {
    position: absolute;
    top: 45%;
    width: 100%;

    .watch-buttons {
      gap: 50px;
      margin-bottom: 30px;
      .watch {
        height: 100%;
        border: none;
        font-size: 22px;
        padding: 10px;
        border-radius: 5px;
        gap: 10px;
        border: 2px solid red;
        background-color: transparent;
        color: white;
        font-weight: 600;
      }
      .now {
        background-color: red;
      }
    }

    .movies-info {
      width: 600px;
      .title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 5px;
      }

      .movies-items {
        justify-content: space-between;
        margin-bottom: 20px;
        .item {
          gap: 10px;
          padding: 10px;
        }

        .tag {
          background-color: white;
          color: black;
          border-radius: 20px;
        }
      }
    }
  }

  .dots-indicator {
    position: absolute;
    bottom: 20px;
    width: 100%;
    gap: 10px;

    .dot {
      padding: 10px;
      background-color: white;
      border-radius: 50%;
    }

    .selected {
      background-color: red;
      padding: 5px;
      width: 50px;
      border-radius: 12px;
    }
  }
}

.movies-slider {
  background-image: url("./assets/avatar-wow.png");
  background-size: cover;
  background-position: center;
  height: 744px;
}
